<mat-card>
    <mat-card-content>
        <h3>Publish Message to topic: {{this.topic?.name}}</h3>
    </mat-card-content>
</mat-card>

<div>
    Message attribute:
    <mat-form-field appearance="outline" [style.width]="'10%'" class="msgattr">
        <mat-label>Key</mat-label>
        <input matInput type="text" autocomplete="off" [formControl]="this.keyField">
    </mat-form-field>

    <mat-form-field appearance="outline" [style.width]="'30%'" class="msgattr">
        <mat-label>Value</mat-label>
        <input matInput type="text" autocomplete="off" [formControl]="this.valueField">
    </mat-form-field>

    <button mat-raised-button color="primary" [disabled]="this.inputField.invalid" (click)="this.publishMessage()">
        {{btnVal}}
        <mat-icon>{{btnIcon}}</mat-icon>
    </button>
</div>

<section>
    <mat-checkbox [formControl]="this.checkBox">Convert snake_case to camelCase for protobuf raw content</mat-checkbox>
</section>

<mat-form-field appearance="outline" class="text-field">
    <textarea matInput [cdkTextareaAutosize]="true" cdkAutosizeMinRows="15" [formControl]="this.inputField"
        placeholder="Valid JSON required (Prettified works)"></textarea>
</mat-form-field>