<div class="container">
    <div class="header">
        <h3>Select a Project from the list:</h3>
        <p class="caption">Or Create a new one!</p>
    </div>

    <div class="project-list">

        <button mat-raised-button class="project" *ngFor="let project of (this.projectList$|async)"
        [routerLink]="['project']" [queryParams]="{'project': project}">
            {{project}}
        </button>

        <button mat-stroked-button class="new-project">
            <mat-icon>add_circle</mat-icon>
            Attach new project
        </button>
    </div>
</div>

<div class="test" [contentEditable]="true">{{message}}</div>
<button mat-raised-button color="primary" (click)="printMessage()">printMessage()</button>
