<div class="container">
  <div class="header">
    <h3>Select a Project from the list:</h3>
    <p class="caption">Or Create a new one!</p>
  </div>

  <div class="project-list">

    @for (project of (this.projectList$|async); track project) {
      <button mat-raised-button class="project"
        [routerLink]="['project']" [queryParams]="{'project': project}">
        {{project}}
      </button>
    }

    <button mat-stroked-button class="new-project" (click)="addNewProject()">
      <mat-icon>add_circle</mat-icon>
      Attach new project
    </button>
  </div>
</div>