<div class="container">
    <div class="header">
        <h3></h3>
        <p class="caption"></p>
    </div>
    <div style="margin: 10px; padding: 10px;">
        <input type="text" id="manualProject" placeholder="PROJECT_ID" style="margin: 10px;padding: 18px 10px;">

        <button mat-raised-button class="project" [routerLink]="['project']" [queryParams]="{'project': getValue()}"
            style="margin: 10px;padding: 10px 55px;">
            <mat-icon>add_circle</mat-icon>
            Attach
        </button>
    </div>
</div>