<mat-action-list class="subscription-list">

  @if (this.subscriptions) {
    @for (subscription of this.subscriptions; track subscription) {
      <button mat-list-item class="item"
        [ngClass]="{'item--selected': this.currentSubscription == subscription}"
        (click)="selectSubscription(subscription)">
        <div class="subscription-button">
          <span> {{subscription.name}}
          </span>
          <mat-icon>arrow_right</mat-icon>
        </div>
      </button>
    }
  }


  <button mat-list-item class="item" (click)="newSubscription()">

    <div class="subscription-button">
      <span>Create New Subscription</span>
      <mat-icon>add</mat-icon>
    </div>

  </button>
</mat-action-list>