.item {
    background-color: rgb(30, 30, 30);
    margin: .1em;

    color: gray;

    &--selected {
        color: lightgreen;
    }
}

.subscription-button {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}