<div *ngIf="this.details|async as subscription" class="content">
    <h3>Subscription Details</h3>

    <div class="header">
        <div id="path">path: {{subscription.name}}</div>
        <div id="topic">topic: {{subscription.topic}}</div>
        <button id="pullMessagesBtn" mat-raised-button color="primary" (click)="this.pullMessages()">
            Pull Messages
            <mat-icon matSuffix>download</mat-icon>
        </button>
    </div>


    <div class="message-pane">
        <div>Messages Received: {{this.messages.length}}</div>
        <table class="message-table mat-table" *ngIf="this.messages">
            <thead>
                <tr>
                    <th>Timestamp</th>
                    <th>Message</th>
                    <th>Ack</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let msg of this.messages" class="pubsub-message">
                    <td>{{msg.message.publishTime | date : "long"}}</td>
                    <td>{{msg.message.data}}</td>
                    <td>
                        <button mat-button color="warn" (click)="this.ackMessage(msg.ackId)">Ack</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>