.content{
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.header{
    display: grid;
    gap: .5em;
    grid-template-areas: 
    'path pullButton'
    'topic pullButton';

    #path{
        grid-area: path;
    }

    #topic{
        grid-area: topic;
    }

    #pullMessagesBtn{
        grid-area: pullButton;
    }
}

.message-list{
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.pubsub-message{
    background-color: rgb(30, 30, 30);
}

.message-table{
    width: 100%;
    border-collapse: collapse;

    tbody>tr> td{
        margin: .2em;
        padding: 1em;
    }
}