<mat-toolbar>

    <div class="content">
        <div class="links">

            <button mat-icon-button class="home-btn"
            [routerLink]="['']">
                <mat-icon>home</mat-icon>
            </button>
            <h3>pubsub-ui</h3>
        </div>
    
        <div class="config">
            <div class="links">
                <button mat-icon-button (click)="updateHostUrl()">
                    <mat-icon>settings</mat-icon>
                </button>

                @if (this.currentHost|async; as host) {
                    <h4>current host: <a [href]="host">{{host}}</a></h4>
                }
            </div>
        </div>
    </div>

</mat-toolbar>