.content {
    width: 100%;
    
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
}

.links {
    display: flex;
    flex-direction: row;
    gap: 1em;

    align-items: center;
}

button {
    &:hover {
        color: lightgreen;
    }
}