.content {
    width: 100%;
}

.links {
    float: left;
    display: flex;
    flex-direction: row;
    gap: 1em;

    align-items: center;
}

.home-btn {
    &:hover {
        color: lightgreen;
    }
}

.config {
    float: right;
}