<div class="container">
    <h1>Project: {{this.currentProject}}</h1>

    <div class="header-container">

        <div class="topics" *ngIf="this.topicList$ | async as topicList">
            <h2>Topics</h2>
            <app-topic-list [topics]="topicList" [(currentTopic)]="this.currentTopic"></app-topic-list>
        </div>

        <div class="subscriptions">
            <h2>Subscriptions</h2>

        </div>

    </div>

    <div class="main-container" [ngClass]="{
        'main-container--no-topic': this.currentTopic == null,
        'main-container--no-subscription': this.currentTopic != null
    }">

    </div>

</div>