.container {
    display: flex;
    flex-direction: column;

    gap: 1em;
}


.header-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
}

.topic-item {
    background-color: rgb(30, 30, 30);
    margin: .1em;

    color: gray;

    &--selected {
        color: whitesmoke;
    }
}

.topic-button {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.main-container {
    padding: 1em;

    &--no-topic::before {
        display: grid;
        place-items: center;

        color: gray;
        content: "select a topic & subscription above.";

        animation: glow 1s infinite alternate;

    }

    &--no-subscription::before{
        display: grid;
        place-items: center;

        color: gray;
        content: "select a subscription above.";

        animation: glow 1s infinite alternate;
    }
}

@keyframes glow {
    from {
        color: gray;
    }

    to {
        color: white;
    }
}