<div class="container">
    <h1>Project: {{this.currentProject}}</h1>

    <div class="header-container">

        <div class="topics" *ngIf="this.topicList$ | async as topicList">
            <h2>Topics</h2>
            <app-topic-list 
            [topics]="topicList" 
            [(currentTopic)]="this.currentTopic" 
            (currentTopicChange)="loadSubsFor($event)"
            (newTopicRequest)="this.handleNewTopicRequest($event)"></app-topic-list>
        </div>

        <div class="subscriptions" *ngIf="this.subscriptionList$ | async as possibleSubs">
            <h2>Subscriptions</h2>
            <app-subscription-list [subscriptions]="possibleSubs" [(currentSubscription)]="this.currentSubscription">
            </app-subscription-list>
        </div>

    </div>

    <div class="main-container" [ngClass]="{
        'main-container--no-topic': this.currentTopic == undefined,
        'main-container--no-subscription': this.currentTopic != undefined && this.currentSubscription == undefined
    }">
        <div *ngIf="this.currentTopic && this.currentSubscription">
            <app-subscription-details [subscriptionPath]="this.currentSubscription.name"></app-subscription-details>
        </div>

        <div *ngIf="this.currentTopic && !this.currentSubscription">
            <app-topic-details [topic]="this.currentTopic" 
            (onMessagePublish)="this.handlePublishRequest($event)"></app-topic-details>
        </div>

    </div>

</div>